<div class="d-flex flex-column flex-shrink-0 p-3 text-white vh-100 fw-semibold" style="width: 220px; background-color: #360049; box-shadow: 2px 0 16px rgba(0, 0, 0, .4);">
    <div class="d-flex justify-content-center mb-4">
        <img class="position-relative bg-white ratio ratio-1x1 rounded-circle" src="assets/Logo.svg" alt="Logo DiDiaz" style="width: 100px;">
    </div>
    <ul class="nav nav-pills flex-column mb-auto h-100">
        <li class="nav-item">
            <a href="#/home" class="nav-link text-white" aria-current="page">
                Home
            </a>
        </li>
        <li>
            <a href="#/learning-path" class="nav-link text-white">
                Learning Path
            </a>
        </li>
        <li>
            <a href="#/academy" class="nav-link text-white">
                Academy
            </a>
        </li>
        <li>
            <a href="#/profile" class="nav-link text-white">
                Profile
            </a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column mb-auto pb-2">
        <li class="nav-item">
            <a href="#/pengaturan" class="nav-link text-white" aria-current="page">
                Pengaturan
            </a>
        </li>
        <li>
            <a href="#/keluar" class="nav-link text-danger">
                Keluar
            </a>
        </li>
    </ul>
</div>
<style>
    #sidebar .nav-link {
        margin-block: 4px;
    }

    #sidebar .nav-link.active {
        background-color: white;
        color: #360049 !important;
    }
</style>
<script>
    updateSidebarActive();
</script>