<div class="d-flex flex-column flex-shrink-0 p-3 text-white vh-100 fw-semibold" style="width: 220px; background-color: #360049; box-shadow: 2px 0 16px rgba(0, 0, 0, .4);">
    <div class="d-flex justify-content-center mb-5">
        <img class="position-relative bg-white ratio ratio-1x1 rounded-circle" src="assets/Logo.svg" alt="Logo DiDiaz" style="width: 100px;">
    </div>
    <ul class="nav flex-column mb-auto h-100">
        <li id="home" class="rounded-1 px-2 mb-3" onclick="navigate('home')">
            <div class="d-flex align-items-center">
                <i class="bxf bx-home-alt-2 fs-5"></i>
                <span class="nav-link">Home</span>
            </div>
        </li>
        <li id="learning-path" class="rounded-1 px-2 mb-3" onclick="navigate('learning-path')">
            <div class="d-flex align-items-center">
                <i class="bxf bx-book-bookmark fs-5"></i>
                <span class="nav-link">Learning Path</span>
            </div>
        </li>
        <li id="academy" class="rounded-1 px-2 mb-3" onclick="navigate('academy')">
            <div class="d-flex align-items-center">
                <i class="bxf bx-education fs-5"></i>
                <span class="nav-link">Academy</span>
            </div>
        </li>
        <li id="profile" class="rounded-1 px-2 mb-3" onclick="navigate('profile')">
            <div class="d-flex align-items-center">
                <i class="bi bi-person-fill fs-5"></i>
                <span class="nav-link">Profile</span>
            </div>
        </li>
    </ul>
    <ul class="nav flex-column mb-auto pb-2">
        <li id="pengaturan" class="rounded-1 px-2 mb-3" onclick="navigate('pengaturan')">
            <div class="d-flex align-items-center">
                <i class="bxf bx-cog fs-5"></i>
                <span class="nav-link">Pengaturan</span>
            </div>
        </li>
        <li id="keluar" class="rounded-1 px-2 mb-3" onclick="logout()">
            <div class="d-flex align-items-center">
                <i class="bx bx-arrow-out-left-square-half fs-5"></i>
                <span  class="nav-link" style="color: #FFA8A8;">Keluar</span>
            </div>
        </li>
    </ul>
</div>
<style>
    #sidebar .nav-link {
        padding-inline: 12px;
        color: white;
    }
    
    #sidebar li {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    #sidebar li:hover {
        background-color: #1F002B;
    }

    #sidebar ul:last-child li:last-child {
        color: #FFA8A8 !important;
    }

    #sidebar li.active {
        background-color: white;
        color: #360049 !important;
    }

    #sidebar li.active .nav-link {
        color: #360049 !important;
    }
</style>
<script>
    updateSidebarActive();
</script>